#root {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}

/* .carousel{
  height: 10rem;
} */

nav {
  background-color:#ffe600;
  font-size: small;
}

footer {
  margin-top: 7rem;
  background-color: white;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24;

  margin: 0px 5px;
}

.heart{
  color : #ffe600;
}